<h1>Homes#about</h1>
<p>Find me in app/views/homes/about.html.erb</p>



<!--ヘッダー-->


<!--タイトル-->
<h1>魅せる撮り方ハンドブック</h1>

<!--サイト説明-->
<p>こんなサイトですよ～こんな時に使ってね～</p>

<!--投稿一覧へのリンク-->


<!--ログイン・新規登録へのリンク-->
